body {
    font-family: Helvetica, Arial, sans-serif;

}

h1 {
    background-color: #2a5599;
    color: white;
    padding: 5px;
}

svg {
    border: 1px solid black;
}

#tooltip {
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    display: none;
}

.mainView {
    display: flex;
}

.line {
    fill: none;
    stroke-width: 3px;
}